{
  "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "double"]
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
},
"env": {
  "browser": true,
  "node": true,
  "jasmine": true,
  "es6": true 
},
  "extends": "eslint:recommended"
}